#!/usr/bin/env nix-shell
use nix
layout node # for trunk cli

export VERBOSE="${VERBOSE:-0}"
export V="${V:-${VERBOSE}}"
[[ "${V}" -eq 1 ]] && set -v

# import local envs
export TOP="${PWD}"
export ENVRC_LOCAL="${TOP}/.envrc.local"
dotenv_if_exists "${ENVRC_LOCAL}"

export NIXOS_CONFIG="${TOP}/configuration.nix"
export HOME_MANAGER="${TOP}/home-manager"
export HOME_MANAGER_CONFIG="${HOME_MANAGER}/home.nix"

set +v
